[Desktop Entry]
Version=1.3
Type=Application
Name=Vboard
Comment=Virtual keyboard
Exec=vboard
Icon=io.github.archisman-panigrahi.vboard
Terminal=false
X-KDE-Wayland-VirtualKeyboard=true
Categories=Utility;Accessibility;
StartupNotify=true
