[Desktop Entry]
Version=1.0
Type=Application
Name=Vboard
Comment=Virtual keyboard
Exec=vboard
Icon=org.mdev.vboard
Terminal=false
X-KDE-Wayland-VirtualKeyboard=true
Categories=Utility;Accessibility;
StartupNotify=true
